@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "sans-serif";
  overflow-x: hidden;
}

:root {
  --maincolor: #21243d;
  --background-color: #ffd17e;
}

/* navbar */

.container {
  width: 100vw;
  height: 100vh;
}

.nav {
  width: 100%;
  background-color: var(--maincolor);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0px;
}

.navlogo {
  width: fit-content;
  height: fit-content;
  padding-top: 5px;
}

.navlogo img {
  width: 150px;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  font-size: 25px;
  color: white;
  font-weight: 400;
}

.navlinks li:hover {
  color: rgb(255, 255, 255, 0.5);
  transition: all 200ms;
  cursor: pointer;
}

.navsearch img {
  width: 30px;
  height: 30px;
  align-self: top;
}

.navsearch img:hover {
  animation-name: shake;
  animation-duration: 0.2s;
  /* animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); */
  /* animation-delay: 1s; */
  animation-timeline: 10s;
  animation-fill-mode: forwards;
}

@keyframes shake {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }

  0% {
    transform: scale(1);
  }
}

/* hero section */

.hero {
  width: 100%;
  background-image: url("./assets/backgroundimageHero.svg"),
    url("./assets/Shape.svg");
  background-blend-mode: multiply;
  background-position: center;
  min-height: 700px;
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* background-color: var(--background-color); */
}

.hero img {
  position: absolute;
  z-index: 1;
  top: 0px;
  width: 100%;
  object-fit: cover;
  filter: opacity(0.1);
  max-height: 700px;
}

.herotitlecard {
  width: 80%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
  margin: 0 auto;
}

.heroheading {
  font-size: 125px;
  font-weight: 700;
  text-align: center;
  color: white;
}

.herodesc {
  font-size: 30px;
  font-weight: 400;
  color: white;
  text-align: left;
  min-width: 10px;
  margin-bottom: 20px;
}

.herobtn {
  font-size: 25px;
  border-radius: 33px;
  background-color: var(--maincolor);
  color: white;
  padding: 10px 40px;
  /* box-shadow: none; */
  border: none;
  font-weight: 500;

  outline: inherit;
  transition: all 0.5s;
}

.herobtn:hover {
  background: rgb(255, 255, 255, 0.5);
  color: var(--maincolor);
  font-weight: 500;
  border: var(--maincolor);
}

/* menu  */

.menu {
  background-color: var(--maincolor);
  position: relative;
  min-height: 700px;
  overflow: hidden;
}

.menucard {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;

  min-height: 1000px;
}

.menudesign {
  position: absolute;
}

.menudesc {
  font-size: 25px;
  color: white;
  font-weight: 400;
}

.menuhead {
  color: white;
  font-weight: 700;
  font-size: 64px;
}

.menudesign1 {
  position: absolute;
  top: 60%;
  left: -80px;
}

.menudesign2 {
  position: absolute;
  right: -70px;
  top: -50px;
}

.menudesign3 {
  position: absolute;
  top: 200px;
  left: 250px;
}

.menudesign4 {
  position: absolute;
  right: 0px;
  top: 800px;
}

.menudesign5 {
  position: absolute;
  left: 400px;
  top: -60px;
  transform: rotate(90deg);
}

.menudesign6 {
  position: absolute;
  right: -20px;
  top: 500px;
}

.menudishes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.menudishes div {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 30px;
}

.menudishes p {
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: white;
}

.menudishes h3 {
  font-size: 28px;
  font-weight: 700;
  color: white;
}

.menudishes img {
  border-radius: 100%;
}

.unknown {
  background: url("./assets/chrome_ej6gYLcurm.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.unknownsection {
  width: 80%;
  height: 80%;
  display: flex;
  /* flex-direction: column; */
  padding: 0 30px;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.unknownsection img {
  border-radius: 100%;
}

.unknownsection div {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: center;
  width: 80%;
  gap: 25px;

  align-items: start;

}

.unknownsection div h2 {
  font-size: 75px;
  font-weight: 700;
  color: var(--maincolor);
  text-align: left;
  width: fit-content;

}

.unknownsection div p {
  font-size: 30px;
  font-weight: 400;
  color: var(--maincolor);
  text-align: left;
}

.location {
  background-color: var(--maincolor);
  position: relative;
  min-height: 800px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.locationsection {
  background: transparent;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;
  position: relative;
  z-index: 10;

}

.location img {
  position: absolute;




}

.locationsectionheading {
  font-size: 62px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

.locationsectiondesc {
  font-size: 25px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.locations {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 42px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  text-align: center;

}

.location1,
.location2,
.location3 {
  border: 2px solid white;
  border-radius: 100%;
  padding: 50px;

}

.unknownsection2 {
  width: 80%;
  height: 80%;
  display: flex;
  /* flex-direction: column; */
  flex-direction: row-reverse;
  padding: 0 30px;
  justify-content: space-around;
  align-items: center;
  gap: 200px;
  margin: 0 auto;

}

.review {
  background-image: url("./assets/reviewbg.svg"), url("./assets/reviewbg2.svg");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;

}

.reviewsection {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;


}

.reviewimg img {
  border-radius: 100%;
}

.reviewdesc {
  font-size: 42px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.reviewname {
  font-size: 45px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

.contactus {
  /* background-image: url("./assets/Shape.svg") */
  background-color: #ffd17e;
  width: 100%;
  height: 800px;
  display: flex;



}

.contactussection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 10%;
  gap: 15px;

}

.contactusheading {
  font-size: 75px;
  color: #21243d;
  font-weight: 700;
  text-align: center;
}

.contactusdesc {
  font-size: 30px;
  color: #21243d;
  font-weight: 400;
  text-align: center;
}

.contactusfield {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  background-color: white;
  border-radius: 25px;
}

.contactusfield input {
  background: transparent;
  border: none;

}

.contactusfield button {
  background: transparent;
  /* width: 100%; */
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: var(--maincolor);
  color: white;
}


.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 500px;

}

.footersection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;

}

.titlesection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}



.forums {
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 10px;
  flex: 1.5;
}

.forum {
  display: flex;
  flex-direction: column;
  gap: 10px;



}

.forum ul li {
  margin-bottom: 5px;

}





@media screen and (max-width:640px) {
  .nav {
    display: none;
  }
}